# Игнорировать все файлы временных данных
*.log
*.tmp
*.db

# Игнорировать файлы и папки, относящиеся к среде разработки
.idea/

# Игнорировать файлы и папки, создаваемые операционной системой
.DS_Store
Thumbs.db

# Игнорировать каталоги виртуальных окружений Python
venv/
__pycache__/
