# Игнорировать все файлы временных данных
*.log
*.tmp
*.db
*.db-journal

# Игнорировать файлы и папки, относящиеся к среде разработки
.idea/
.env

# Игнорировать файлы и папки, создаваемые операционной системой
.DS_Store
Thumbs.db

# Игнорировать каталоги виртуальных окружений Python
venv/
__pycache__/
/db/db_for_bot.db-journal
